$main-color: rgb(24, 230, 68);
$text-color: #333;

body {
  font-family: Arial, sans-serif;
  background-color: $main-color;
  margin: 0;
  padding: 0;

  h2 {
    color: $text-color;
    text-align: center;
  }
}
